/* =============================================================================
   Backgrounds
   ========================================================================== */

.red-bg {
	background-color: #c11d2d;
}

.dark-blue-bg {
	background-color: #2c5065;
}

.blue-bg {
	background-color: #016e9e;
}

.light-blue-bg {
	background-color: #3895cb;
}

.white-bg {
	background-color: #FFFFFF;
}

.black-bg {
	background-color: #000000;
}

.semi-black-bg {
	background-color: #000;
	background-color: rgba(0, 0, 0, 0.8);
}

.grey-bg {
	background-color: #f0f0f0;
}

/* =============================================================================
   Text
   ========================================================================== */
@font-face {
	font-family: 'GothamBold';
	src: url('fonts/gothamrnd-bold.eot');
	src: local('☺'), url('fonts/gothamrnd-bold.woff') format('woff'), url('fonts/gothamrnd-bold.ttf') format('truetype'), url('fonts/gothamrnd-bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'GothamBook';
	src: url('fonts/gothamrnd-book.eot');
	src: local('☺'), url('fonts/gothamrnd-book.woff') format('woff'), url('fonts/gothamrnd-book.ttf') format('truetype'), url('fonts/gothamrnd-book.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@mixin GothamBold {
	font-family: "GothamBold", Arial, Helvetica, sans-serif;
	font-weight: normal;
}

@mixin GothamBook {
	font-family: "GothamBook", Arial, Helvetica, sans-serif;
	font-weight: normal;
}



@mixin arial {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
}

.arial {
	@include arial;
}



a {
	text-decoration: none;
	color: #000000;
	cursor: pointer;
	@include transition(all 0.3s ease);
}

h1 {
	@include GothamBook;
	margin: 10px 0;
	font-size: 5em;
}

h2 {
	@include GothamBook;
	margin: 18px 0;
	font-size: 3.5em;
}



h3 {
	@include GothamBook;
	margin: 10px 0;
	font-size: 3em;
}

h4 {
	@include GothamBook;
	margin: 5px 0;
	font-size: 2em;

}

h5 {
	@include GothamBook;
	margin: 5px 0;
	font-size: 1.6em;
}

p {
	margin: 1em 0;
	line-height: 1.7em;
	font-size: 1.4em;
}

sup {
   top: -0.2em;
   text-transform: lowercase;
}

pre {
	@include GothamBook;
	background: #0977bc;
	display: block;	
	text-align: center;
	@include border-radius(3em);
	padding: 1em 1em 0.5em;
	width: 90%;

	span {
		line-height: 0.7em;
	}
}

.huge {
	font-size: 150%;
}

.big {
	font-size: 130%;
}

.small {
	font-size: 90%;
}

.tiny {
	font-size: 70%;
}

p.tiny {
	margin: 5px 0;
}

.bold,
strong,
b {
	font-weight: bold;
}

.normal {
	font-weight: normal;
}

.italic {
	font-style: italic;
}

.align-left,
.text-left {
	text-align: left;
}

.align-right,
.text-right {
	text-align: right;
}

.align-center,
.text-center {
	text-align:  center;
}

.normal-style {
	font-style: normal;	
}

.underline {
	text-decoration: underline;	
}

.uppercase {
	text-transform: uppercase;
}

.black {
	color: #000;
}

.white {
	color: #fff;
}

.grey {
	color: #a8a8a8;	
}

a.grey:hover {
	color: #878787;	
}

.dark-grey {
	color: #333333;
}

a.dark-grey:hover {
	color: #141414;
}

.light-grey {
	color: #585858;	
}

a.light-grey:hover {
	color: #a8a8a8;	
}

.orange {
	color: #d35c2a;	
}

a.orange:hover {
	color: #ac4b22;
}

.pink {
	color: #ed1375;	
}

.blue {
	color: #0d4d66;	
}

.teal {
	color: #13a89e;
}

.red {
	color: #ed2724;
}

.green {
	color: #557e06;
}

.purple {
	color: #9c0059;
}

a.purple:hover {
	color: #000000;
}
.error {
	color: #7e0606;
}

/* =============================================================================
   Misc
   ========================================================================== */


.ir {
	border:0;
	font: 0/0 a;
	text-shadow: none;
	color: transparent;
	background-color: transparent;
}

.hide {
	display: none;
}

.hide-on-mobile {

	@include media(6) {
		display: none !important;
	}
}

.hide-on-desktop {
	display: none;
	@include media(6) {
		display: block !important;
	}
}

.show,
.block {
	display: block;
}

.inline-block {
	display: inline-block;
}

.inline {
	display: inline;
}

.no-margin {
	margin: 0 !important;
}

.no-padding {
	padding: 0;
}

.no-border {
	border: none;
}

.absolute {
	position: absolute !important;
}

.relative {
	position: relative;
}

.fixed {
	position: fixed;
}

.valign-middle {
	vertical-align: middle;	
}

.dropshadow {
	@include box-shadow(3px 3px 4px #666 );
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#666666')";
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#666666');
}

.text-shadow {
	text-shadow: 0px 2px 2px white;
}

hr {
	background-color: #fff;
	border: 0;
    height: 5px;
	margin: 0 auto;
	width: 15%;
}


.border {
	border: 1px solid #969696;
}

.border-bottom {
	border-bottom: 1px solid #969696;	
}

.border-top {
	border-top: 1px solid #969696;	
}

.border-left {
	border-left: 1px solid #969696;	
}

.border-right {
	border-right: 1px solid #969696;	
}

.thick-border-top {
	border-top: 2px solid #FFF;
}

.thick-border-bottom {
	border-bottom: 2px solid #FFF;
}

.margin-bottom {
	margin-bottom: 7em !important;
}

.overlay {
	width:100%;
	height: 100%;
	position: absolute;
	z-index: 100;
	top: 0;
	left: 0;
	display: none;
}

.box {
	background: #f0f0f0;
	border: 1px solid #bebebe;
	@include border-radius(5px);
	padding: 1em 2em;
}
	

blockquote {
	background: #ffffff url(../images/icons/quotes_start.png) 15px 15px no-repeat;
	@include box-shadow(0 2px 5px #65696b);
	padding: 2em 4.5em 3em;
	@include border-radius(3em);
	position: relative;
	margin: 5em 0 0 0;

	&:before {
    	background: url("../images/misc/speech_bubble_right.png") no-repeat scroll left top transparent;		
	    content: "";
	    height: 2.2em;
	    right: 15%;
	    position: absolute;
	    top: -2.2em;
	    width: 4.5em;
	};

	&:after {
		content: '';
		width: 2.4em;
		height: 1.6em;
		background: url(../images/icons/quotes_end.png) left top no-repeat;
		position: absolute;
		right: 5%;
		bottom: 5%;
	};	

	p {
		@include GothamBook;
		font-size: 1.4em;
		color: #1b2b44;
		margin-bottom: 0;

		@include media(4) {
			font-size: 1.2em;
		}
	}

	small {
		color: #333333;
		@include arial;
		font-weight: bold;
	}

}

.post-category {
	font-size: 12px;

	a {
		color: #b50f0c;
	}
}

.pagination {
	text-align: center;
	margin: 10px 0;
	font-size: 12px;
	ol {
		list-style: none;
		display: inline-block;
		clear: block;
		margin: 0;
		padding: 0;
	}

	li {
		float: left;
		a {
			color: #a40000;
		}

		a, span {
			display: inline-block;
			margin: 0 5px;
		}

	}
}

/* =============================================================================
   Lists
   ========================================================================== */
menu, ol, ul {
	list-style-type: none;
}

.row {

	ol {
		padding: 0;

		li {
			background: url(../images/icons/list-tick-fat.png) left 0.4em no-repeat;
			font-family: Arial, Helvetica, sans-serif;
			font-size: 1.3em;
			padding-left: 2.8em;
			line-height: 1.4em;
			margin-bottom: 0.7em;
		}
	}	

	ul {
		margin-top: 3em;
		padding: 0;

		li {
		    font-size: 1.4em;
		    margin: 1em 0;
		    padding-left: 1.5em;
			background: url(../images/icons/list-tick.png) left top no-repeat;
			line-height: 1.3em;
		}
	}   	
}
 

/* =============================================================================
   Buttons
   ========================================================================== */
button::-moz-focus-inner {
    border:0;
    padding:0;
}

button, .gform_button, .btn {
	@include border-radius(1.5em);
	@include inline-block;
	@include text-shadow(1px 1px 1px #000);
    color: #FFFFFF;
    position: relative;
    z-index: 5;
    font-size: 1em;
    padding: 0.3em 2em;	
	border: 1px solid #1271a8;
	background-color: #76b7e2;
	@include filter-gradient(#76b7e2, #145d92, vertical);
	@include background-image(linear-gradient(top,  #76b7e2 0%,#106eb2 5%,#106eb2 75%,#145d92 75%,#145d92 100%)); 
	@include box-shadow(0 1px 2px black);  

	&:hover {
		background-color: #45a3e1;
		@include filter-gradient(#45a3e1, #176aa7, vertical);
		@include background-image(linear-gradient(top,  #45a3e1 0%,#137cc8 5%,#137cc8 75%,#176aa7 75%,#176aa7 100%)); 
		@include box-shadow(0 1px 2px black);  
	}

    &.pink {
		border: 1px solid #8c1f44;
		@include box-shadow(0 1px 2px black);
		padding-right: 3em;
		background: #ffffff;
		background-image: url(../images/buttons/down_arrow.png); /* fallback */
		background-image: url(../images/buttons/down_arrow.png), -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(5%,#ab234f), color-stop(75%,#ab234f), color-stop(75%,#9f214a), color-stop(100%,#9f214a)); /* Chrome,Safari4+ */
		background-image: url(../images/buttons/down_arrow.png), -webkit-linear-gradient(center top , #FFFFFF 0%, #AB234F 5%, #AB234F 75%, #9F214A 75%, #9F214A 100%); /* Chrome 10+, Saf5.1+ */
		background-image: url(../images/buttons/down_arrow.png),    -moz-linear-gradient(center top , #FFFFFF 0%, #AB234F 5%, #AB234F 75%, #9F214A 75%, #9F214A 100%); /* FF3.6+ */
		background-image: url(../images/buttons/down_arrow.png),     -ms-linear-gradient(center top , #FFFFFF 0%, #AB234F 5%, #AB234F 75%, #9F214A 75%, #9F214A 100%); /* IE10 */
		background-image: url(../images/buttons/down_arrow.png),      -o-linear-gradient(center top , #FFFFFF 0%, #AB234F 5%, #AB234F 75%, #9F214A 75%, #9F214A 100%); /* Opera 11.10+ */
		background-image: url(../images/buttons/down_arrow.png),         linear-gradient(center top , #FFFFFF 0%, #AB234F 5%, #AB234F 75%, #9F214A 75%, #9F214A 100%); /* W3C */		
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#9f214a',GradientType=0 ); /* IE6-9 */
		background-repeat: no-repeat;
		background-position: right center;

		&:hover {
			background: #ffffff;
			background-image: url(../images/buttons/down_arrow.png); /* fallback */
			background-image: url(../images/buttons/down_arrow.png), -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(5%,#c52a5c), color-stop(75%,#c52a5c), color-stop(75%,#ac2652), color-stop(100%,#ac2652)); /* Chrome,Safari4+ */
			background-image: url(../images/buttons/down_arrow.png), -webkit-linear-gradient(center top , #FFFFFF 0%, #c52a5c 5%, #c52a5c 75%, #ac2652 75%, #ac2652 100%); /* Chrome 10+, Saf5.1+ */
			background-image: url(../images/buttons/down_arrow.png),    -moz-linear-gradient(center top , #FFFFFF 0%, #c52a5c 5%, #c52a5c 75%, #ac2652 75%, #ac2652 100%); /* FF3.6+ */
			background-image: url(../images/buttons/down_arrow.png),     -ms-linear-gradient(center top , #FFFFFF 0%, #c52a5c 5%, #c52a5c 75%, #ac2652 75%, #ac2652 100%); /* IE10 */
			background-image: url(../images/buttons/down_arrow.png),      -o-linear-gradient(center top , #FFFFFF 0%, #c52a5c 5%, #c52a5c 75%, #ac2652 75%, #ac2652 100%); /* Opera 11.10+ */
			background-image: url(../images/buttons/down_arrow.png),         linear-gradient(center top , #FFFFFF 0%, #c52a5c 5%, #c52a5c 75%, #ac2652 75%, #ac2652 100%); /* W3C */		
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#9f214a',GradientType=0 ); /* IE6-9 */
			background-repeat: no-repeat;
			background-position: right center;			

		}


    }

    &.download {
    	margin: 0.2em 0.5em;
    	padding-right: 3em;
		background: #76b7e2;
		background-image: url(../images/icons/download.png); /* fallback */
		background-image: url(../images/icons/download.png), -webkit-gradient(linear, left top, left bottom, color-stop(0%,#76b7e2), color-stop(5%,#106eb2), color-stop(75%,#106eb2), color-stop(75%,#145d92), color-stop(100%,#145d92)); /* Chrome,Safari4+ */
		background-image: url(../images/icons/download.png), -webkit-linear-gradient(center top , #76b7e2 0%, #106eb2 5%, #106eb2 75%, #145d92 75%, #145d92 100%); /* Chrome 10+, Saf5.1+ */
		background-image: url(../images/icons/download.png),    -moz-linear-gradient(center top , #76b7e2 0%, #106eb2 5%, #106eb2 75%, #145d92 75%, #145d92 100%); /* FF3.6+ */
		background-image: url(../images/icons/download.png),     -ms-linear-gradient(center top , #76b7e2 0%, #106eb2 5%, #106eb2 75%, #145d92 75%, #145d92 100%); /* IE10 */
		background-image: url(../images/icons/download.png),      -o-linear-gradient(center top , #76b7e2 0%, #106eb2 5%, #106eb2 75%, #145d92 75%, #145d92 100%); /* Opera 11.10+ */
		background-image: url(../images/icons/download.png),         linear-gradient(center top , #76b7e2 0%, #106eb2 5%, #106eb2 75%, #145d92 75%, #145d92 100%); /* W3C */		
    	background-position: right center;
    	background-repeat: no-repeat;

    	&:hover {
			background: #45a3e1;
			background-image: url(../images/icons/download.png); /* fallback */
			background-image: url(../images/icons/download.png), -webkit-gradient(linear, left top, left bottom, color-stop(0%,#45a3e1), color-stop(5%,#106eb2), color-stop(75%,#106eb2), color-stop(75%,#145d92), color-stop(100%,#145d92)); /* Chrome,Safari4+ */
			background-image: url(../images/icons/download.png), -webkit-linear-gradient(center top , #45a3e1 0%, #137cc8 5%, #137cc8 75%, #176aa7 75%, #176aa7 100%); /* Chrome 10+, Saf5.1+ */
			background-image: url(../images/icons/download.png),    -moz-linear-gradient(center top , #45a3e1 0%, #137cc8 5%, #137cc8 75%, #176aa7 75%, #176aa7 100%); /* FF3.6+ */
			background-image: url(../images/icons/download.png),     -ms-linear-gradient(center top , #45a3e1 0%, #137cc8 5%, #137cc8 75%, #176aa7 75%, #176aa7 100%); /* IE10 */
			background-image: url(../images/icons/download.png),      -o-linear-gradient(center top , #45a3e1 0%, #137cc8 5%, #137cc8 75%, #176aa7 75%, #176aa7 100%); /* Opera 11.10+ */
			background-image: url(../images/icons/download.png),         linear-gradient(center top , #45a3e1 0%, #137cc8 5%, #137cc8 75%, #176aa7 75%, #176aa7 100%); /* W3C */		    		
	    	background-position: right center;
    		background-repeat: no-repeat;
    	};
    }

}

.arrow-up-btn {
    top: -7em;
    position: absolute;
    right: 2%;
    padding-right: 1.5em;
    background: url(../images/icons/up_arrow.png) right center no-repeat;
    @include GothamBook;
    color: #444;
    font-size: 1.5em;

    @include media(5) {
    	top: -2em;
    }
}


/* =============================================================================
   Grid
   ========================================================================== */

.row {
	padding: 12em 0;
	background-repeat: no-repeat;
	background-position: center 20%;

	@include media(6) {
		padding: 4em 0;
	} 

	> .inner {

		.row-title {
			margin-bottom: 50px;

			@include media(4) {
				font-size: 25px;
			}

		}

		.column {
			padding: 0 20px;

			img {
				max-width: 92%;
				height: auto;

				@include media(6) {
					position: static;
				}
			}
		}
	}
}

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

.container:before,
.container:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.container:after {
    clear: both;
}

.container {
	width: 950px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	 *zoom: 1;
	 

	 @include media(10){
	 	width: auto;
	 	padding-left: 2em;
	 	padding-right: 2em;
	 }
}

.span {
	min-height: 0px;
	padding-left: 10px;
	padding-right: 10px;
	float: left;
	display: block;
	position: relative;
	@include box-sizing(border-box);

	embed, iframe, object {
	    width: 100%;
	}
}

.break {
	@include media(6) {
		width: 100% !important;
		height: auto !important;
	}
}

.alpha.span {
	padding-left: 0px;
}

.omega.span {
	padding-right: 0px;
}
 
$columns: ((one, 10%), (two, 20%), (two-and-half, 25%), (three, 30%), (one-third, 33%), (four, 40%), (five, 50%), (six, 60%), (seven, 70%), (seven-and-half, 75%), (eight, 80%), (nine, 90%), (ten, 100%));
$total_columns: length($columns);

@mixin columns(){
	$i: 1;
	@each $column in $columns {
		$class: nth($column, 1);
		$width: nth($column, 2);
		
		.span.#{$class} {
			width: ($width);
		}

		.push-#{$class} {
			margin-left: ($width);
		}

		.pull-#{$class} {
			margin-left: -($width);
		}
		$i: $i + 1;
	}
}

@include columns();


.left, .alignleft {
	float: left;
}

.right, .alignright {
	float: right;
}

.aligncenter,
.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	float: none;
}

.full-width {
	width: 100%;
}

.half-width {
	width: 50%;
}

.third-width {
	width: 33%;
}

.full-height {
	height: 100%;
}



/* =============================================================================
   Tables
   ========================================================================== */

/* =============================================================================
   Forms
   ========================================================================== */

label {
    display: block;
	font-size: 13px;
    color: #1b2b44;
    font-weight: bold;
    margin-bottom: -1em;
}

input[type="text"], input[type="url"], input[type="email"], input[type="tel"], input[type="number"], input[type="password"] {
	width: 95% !important;
	border:1px solid #888f9a;
	height:36px;
	line-height:3.6em;
	@include border-radius(5px);
	@include box-shadow( inset #EDEDED 2px 2px 25px); 
	color: #333333;
	background: #fff;
	font-weight: bold;
}

input[type="text"], input[type="email"], input[type="password"] {
	padding: 0px 8px !important;
	@include box-sizing(border-box);
}

#input_1_6_6_container {
	width: 95% !important;
}

#input_1_6_6_container, #input_2_6_6_container, #select-container {
	border:1px solid #888f9a;
	@include border-radius(5px);
	@include box-shadow( inset #EDEDED 2px 2px 25px); 
	color: #333333;
	background: #fff;
	font-weight: bold;
	font-style: normal;
	font-weight: bold;
	background: url("../images/icons/select-arrow.png") no-repeat scroll right center white;	
	padding-top: 0.4em;		
	width: 95%;	
	overflow: hidden;

	select {
		border: none;		
		background: transparent;
		width: 120% !important;
		-webkit-appearance: none;	
		margin-left: 0.5em;	
	}

	input {
		display: none;
	}
}

#select-container {
	color: #333333;
	font-weight: bold;
	font-size: 1.4em;
    width: 70%;
    margin-bottom: 7em;
    @include media(10) {
    	width: 100%;
    }

	select {
		padding: 0.3em 0 0.6em;
		outline: none;

		option {
		}
	}
	
}

textarea {
	border:1px solid #8a97a4;
	@include border-radius(5px);
	@include box-shadow( inset #EDEDED 2px 2px 25px); 
	color: #333333;
	font-style: italic;
	background: #fff;
	width: 91% !important;
	font-style: normal;
	font-weight: bold;
	padding: 1em !important;

	@include media(3) {
		width: 95.5%;
	}
} 


/* =============================================================================
   Gravity
   ========================================================================== */

#input_1_6_1_container, #input_1_6_3_container, #input_1_6_5_container, #input_1_6_6_label, #input_2_6_6_label  {
	display: none;
}

#field_2_7 {
	clear: both;
}

#input_2_6_6_container {
	width: 47% !important;
}

.gform_wrapper {

	.gform_heading {
		margin: 10px 0;

	}

	.validation_error {
		color: #a40000;
	}

	.gform_body {
		margin: 20px 0;
		font-family: Arial, Helvetica, sans-serif;

		font-size: 11px;

		.gform_fields {
			margin: 0;
			padding: 0 !important;
			list-style: none;

			li {
				padding: 0;
				background: none;
				clear: none;
			}

			.gfield_label {
				.gfield_required {
					color: #a40000;
					padding: 0 0 0 5px;
				}
			}

			.ginput_left, .ginput_right, .ginput_full {
			 	    display: block;
				    min-height: 2.33em;
				    // overflow: hidden;
			 }

			.ginput_left {
				@include box-sizing(border-box);
			 	float: left;
				width: 50% !important;

				.ginput_left {
					width: 100%;
				}

				@include media(3) {
					float: none;
					width: 100%;
				}
			 }

			.ginput_right {
				@include box-sizing(border-box);
		 		float: left;
				width: 49% !important;

				@include media(3) {
					float: none;
					width: 100%;
				}				
			 }

			 .ginput_full {
			 	clear: both;
			 	input {
			 		width: 96.5% !important;
			 		
			 	}

			 	&.gfield_error {
				 	input {
				 		width: 100% !important;
				 		
				 	}			 		
			 	}
			 	
			 }		

			.gfield_description {
				font-size: 10px;
			 	font-style: italic;
			 	text-align: right;

				&.validation_message {
					color: #a40000;
				}
			}		
		}
	}

	.gform_footer {
		.gform_button {
			float: right;
		    font-size: 1.5em !important;
		}
	}
}

.gfield.gfield_error {
	background-color: transparent !important;
	border: none !important;
	padding: 0 !important;
}

.validation_message {
	padding: 0 20px 10px 0 !important;
	@include box-sizing(border-box);
}


/* =============================================================================
   Pagination
   ========================================================================== */

 .pagination {
	text-align: center;
	text-transform: lowercase;
	a {
		&:hover {
			color: #000;
			background: #FFF;
		}
	}
	.page-numbers {
		display: inline-block;
		height: 34px;
		line-height: 34px;
		color: #FFF;
		background: #000;
		padding: 0 10px;
		border: 1px solid #000;

		&.dots {
			color: #000;
			background: #FFF;
			border-color: #FFF;
		}
		
		&.current {
			color: #000;
			background: #FFF;
		}

		&.next,
		&.prev, {
			position: relative;
			&:after,
			&:before {
				content: '';
				position: absolute;
				width: 0;
				height: 0;
				top: -1px;
			}

			&:after {
				@include transition(all 0.3s ease);
			}

			&:hover {
				&:after {
					border-left-color: #FFF;
					border-right-color: #FFF;
				}
			}
		}

		&.next {
			&:before {
				border-top: 18px solid transparent;
				border-bottom: 18px solid transparent;
				border-left: 17px solid #000;
				right: -18px;
			}

			&:after {
				border-top: 18px solid transparent;
				border-bottom: 18px solid transparent;
				border-left: 17px solid #000;
				right: -17px;
			}

		}

		&.prev {
			&:before {
				border-top: 18px solid transparent;
				border-bottom: 18px solid transparent;
				border-right: 17px solid #000;
				left: -18px;
			}

			&:after {
				border-top: 18px solid transparent;
				border-bottom: 18px solid transparent;
				border-right: 17px solid #000;
				left: -17px;
			}
		}
	}
}
.wp-pagination {
	display:block;
	padding: 40px;
}
.wp-paginate {
	padding:0;
	margin:0;
	text-align: center;

	li {
		display:inline;
		list-style:none;
	}

	a {
		background:#000;
		color:#fff; 
		margin-right:4px; 
		padding: 8px 11px 7px; 
		text-align:center; 
		text-decoration:none;

		&:hover {
			color: #FFF !important;
		};
	}

	.title {
		color:#555; 
		margin-right: 25px;
	}

	.gap {
		color:#999; 
		margin-right:4px;
	}

	.current {
		color: #000; 
		background: #fff; 
		border: 1px solid #000; 
		margin-right: 4px; 
		padding: 7px 10px;
	}	

	.next, .prev {
		position: relative;	
	}
	.next {
		position: relative;

		&:after {
			left: 100%;
			border: solid transparent;
			content: " ";
			height: 0;
			width: 0;
			position: absolute;
			pointer-events: none;
		}

		&:after {
			border-color: rgba(0, 0, 0, 0);
			border-left-color: #000;
			border-width: 18px;
			top: 50%;
			margin-top: -18px;
		}

	}

	.prev {
		position: relative;
	
		&:after {
			right: 100%;
			border: solid transparent;
			content: " ";
			height: 0;
			width: 0;
			position: absolute;
			pointer-events: none;
		}

		&:after {
			border-color: rgba(0, 0, 0, 0);
			border-right-color: #000;
			border-width: 18px;
			top: 50%;
			margin-top: -18px;
		}
	}
}

.twist {

	@include media(6) {
		min-height: 19em;
	   	width: 295px;
    	margin: 0 auto;
	}

	img {
		@include media(6) {
			top: -15px !important;
		}		


	}
	
}

#shape  {
	-moz-transition: all 1s ease;
	-webkit-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;}

.rotate {-moz-transform: rotate(-90deg);
     -webkit-transform:rotate(-90deg);
     -ms-transform:rotate(-90deg);
     -o-transform:rotate(-90deg);
}   