body {
	color: #273B48;
	font-size: 62.5%;
	overflow-x: hidden;
	-webkit-font-smoothing: antialiased;
	//-webkit-text-stroke: 0.25px;
	@include media(8){
		font-size: 60%;
	}
}

#wrap {
	position: relative;
}


#header {
	padding: 0;
	z-index: 400;
	position: fixed;
	width: 100%;
	color: #FFF;
	background: #000;
	height: 10em;

	@include media(11){
		position: relative;
	}
	
	@include media(8) {
		height: auto;
	}	

	.container {
		height: 10em;

		&:after {
			content: '';
			display: block;
			position: absolute;
			bottom: -2em;
			width: 0px;
			height: 0px;
			border-style: solid;
			border-width: 2em 22em 0 22em;
			border-color: #040000 transparent transparent transparent;
			border-style: inset;
			@include rotate(360deg);
			left: -13em;

			@include media(8) {
				position: relative;
				bottom: -1.9em;
			}			
		}

		@include media(8) {
			height: auto;
		}
	}

	.logo-container {
		width: 6em;
		float: left;
		margin-top: 0.7em;
		height: 1.4em;	
		@include media(9){
			width: 5em;
		}
		@include media(8) {
			float: none;
		}
		
		.logo {
			width: 100%;
			height: 100%;
			display: block;
			background: url(../images/logos/header_logo.png) left top no-repeat;
			background: url(../images/logos/header_logo.svg) left top no-repeat;
			background-size: contain;
			text-indent: -9999px;
			overflow: hidden;
		}
	}

	.mobilenav {
		display: none;
	    background: none repeat scroll 0 0 #2AACE2;
	    border-radius: 4px 4px 4px 4px;
	    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset, 0 1px 0 rgba(255, 255, 255, 0.075);
	    display: none;
	    padding: 10px;
	    z-index: 500;	
	    cursor: pointer;
	    border: 1px solid #2AACE2;
		    
	   	.icon-bar {
		    background-color: #FFF;
		    border-radius: 1px 1px 1px 1px;
		    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
		    display: block;
		    height: 2px;
		    margin: 3px 0;
		    width: 18px;			
		}

		@include media(6) {
			display: inline-block;
		    position: absolute;
		    right: 2em;
		    top: 2em;				
		}
	}	    

	.main-navigation { 
		padding: 0;
		margin-top: 4.5em;
		float: right;

		@include media(9){
			margin-top: 4.3em;
		}

		@include media(8) {
			float: none;
			margin-top: 0;
		}

		@include media(6) {
			display: none;
		}		
		
		ul {
			margin: 0;
			padding: 0;
			
			> li {
			 	float: left;
				padding: 0;
			 	position: relative;
			 	margin-left: 0.8em;
			 	@include media(6) {
			 		float:none;
  					border-bottom: 1px dashed #252525;
  					margin: 0;
  					
  					&:first-child {
  						  border-top: 1px dashed #252525;
  					}		 		
			 	}

			 	&:hover {

			 		.sub-menu {
			 			display: block;
				 		@include opacity(1);
			 		}

			 	}

			 	> a {
			 		display: block;
					padding: 0.5em 0.8em;
					@include GothamBold;
			 		font-size: 1.3em;
			 		line-height: 1.4em;
				 	color: #999;
				 	@include border-radius(2em);

				 	@include media(10) {
				 		font-size: 1.2em;
				 	}

				 	@include media(9) {
			 		   	font-size: 1.1em;
    					padding: 1em 0.9em 0.8em;
				 	}

				 	@include media(8) {
			 		    font-size: 1.3em;
    					padding: 1em 0.9em 0.8em;
				 	}

				 	@include media(7) {
			 		    font-size: 1.1em;
				 	}	

				 	@include media(6) {
					padding: 1em 1.2em 0.8em 1.2em;
			 		font-size: 1.5em;
				 	}				 				 	
			 	}

			 	> a:hover,
			 	&.current-menu-item > a,
			 	&.current-category-ancestor > a,
			 	&.current-page-item > a,
			 	&.current-page-ancestor > a,
			 	&.current-post-ancestor > a,
			 	&.current-menu-parent > a,
			 	&.current-post-parent > a,
			 	&.current > a {
			 		color: #fff;

			 		@include media(6) {
			 			color: #2AACE2;
			 		}
			 	}

			 	&.current-menu-item > a,
			 	&.current-category-ancestor > a,
			 	&.current-page-item > a,
			 	&.current-page-ancestor > a,
			 	&.current-post-ancestor > a,
			 	&.current-menu-parent > a,
			 	&.current-post-parent > a,
			 	&.current > a {
			 		background: #333;
			 	}
			}
		} 
	}
}
		
			
#main {
	padding-top: 10em;
	@include media(11){
		padding-top: 0;
	}
}
		
#sidebar {}

#footer {

	h5 {
		margin: 0.5em 0 1em;
	}

	.site-info {
		border-top: 1px solid #9a9a9a;
		background: #f6f6f6;
		padding: 3em 0;

		p {
			font-size: 1.3em;
		}

		.push-one {

			@include media(6) {
				margin-left: 0;
			}
		}
	}

	.copyright {
		background: #1a1818;
		padding: 2em 0;
		color: #acacac;
		font-size: 1.2em;
		line-height: 1.5em;
		position: relative;

		@include media(5) {
			padding: 2em 0 5em;
		}		

		.container {
		    -moz-box-sizing: border-box;
    		padding-right: 230px;

    		@include media(5) {
    			padding: 0 2em;
    		}

			a {
				color: #FFF;
			}	
		}	

		.addthis_toolbox {
			position: absolute !important;

			a {
				color: #5f656e;	
			}	
		}  			
	}

	.socials {

		a {
			width: 3.2em;
			height: 3.2em;
			float:left;
			margin-right: 0.4em;
			margin-bottom: 0.4em;
			background: url(../images/buttons/socials.png) left top no-repeat;
			opacity: 0.8;

			&:hover {
				opacity: 1;
			};

			&.facebook {
				background-position: left top;
			}

			&.twitter {
				background-position: -36px top;
			}

			&.linkedin {
				background-position: -72px top;
			}

			&.googleplus {
				background-position: -108px top;
			}									
		}
	}
}

/* =============================================================================
   Pages
   ========================================================================== */

#template-examples {

	h1 {
		font-size: 4em;

		@include media(7) {
			font-size: 3em;
		}
	}

	blockquote {
		&:before {
	    	background: url("../images/misc/speech_bubble.png") no-repeat scroll left top transparent;		
		    content: "";
		    height: 2.2em;
		    left: 10%;
		    position: absolute;
		    top: -2.2em;
		    width: 2.5em;
		};

		p {
			color: #0977bc;
		}

	}

	.navigation {
		padding: 6em 0;
		background-color: #1891cf; // Old browsers
		@include filter-gradient(#1891cf, #1891cf, horizontal); // IE6-9 fallback on horizontal gradient
		@include background-image(linear-gradient(left bottom,  #1891cf 0%,#1891cf 100%));


		.scroll-to-btn {
			font-size: 1.4em;
			@include inline-block;			
			@include GothamBook;
			@include border-radius(2em);
			color: #FFF;
			padding: 5px 25px 5px 13px;
			background: #09639c url(../images/buttons/down_arrow_short.png) right center no-repeat;
			line-height: 1em;
			margin-top: 0.5em;

			&:hover {
				background: #0172ba url(../images/buttons/down_arrow_short.png) right center no-repeat;
			};
		}
	}

	.image {
		text-align: center;
	}	

	.row-title {
		font-size: 3.5em;
		color: #0977bc;
		margin: 0;

		@include media(4) {
			font-size: 2.5em;
		}		
	}

	.content {

		@include media(4) {
			font-size: 85%;
		}		
	}

	.evenrow {

		.image {
			float: right;
		}
	}

	article .row:first-child .arrow-up-btn {
		display: none;
	}
}

#front-page {}

#index {}

#single {}

#page, #main {
	.page-content {
		.row {
			background-repeat: no-repeat;
			background-position: center top;
			@include background-size(cover);
		}
	}
}

#error {
    background-color: #C9E5F0;
    background-image: -moz-linear-gradient(left center , #C9E5F0 0%, #E7F1F5 50%, #B3D4E7 100%);
    background-size: 100% auto;
	
	h1 {
	    color: #0E76BC;
	    font-size: 10em;
	}
	
	h2 {
	    color: #437496;
		font-size: 2em;
    	margin: 0 0 0 8em;
	}

	p {
		@include GothamBook;
	    color: #072C44;
	    font-size: 1.4em;
	    margin-top: 10%;
	}
	
	span {
	    color: #B7DEE7;
	    float: right;
	    font-size: 7em;
	}
}