body {
	color: #273B48;
	font-size: 62.5%;
	overflow-x: hidden; 
}

#wrap {
	position: relative;
}


#header {
	padding: 0;
	position: relative;
	color: #FFF;
	background: #000;
	height: 10em;

	@include media(8) {
		height: auto;
	}	

	.container {
		height: 10em;

		&:after {
			content: '';
			display: block;
			position: absolute;
			bottom: -2em;
			width: 0px;
			height: 0px;
			border-style: solid;
			border-width: 2em 22em 0 22em;
			border-color: #040000 transparent transparent transparent;
			border-style: inset;
			@include rotate(360deg);
			left: -13em;

			@include media(8) {
				position: relative;
				bottom: -1.9em;
			}			
		}

		@include media(8) {
			height: auto;
		}
	}

	.logo-container {
		width: 4em;
		float: left;
		margin-top: 0.7em;

		@include media(8) {
			float: none;
		}
		
		.logo {
			height: 1em;
			display: block;
			background: url(../images/logos/header_logo.svg) left top no-repeat;
			text-indent: -9999px;
			overflow: hidden;
		}
	}

	.mobilenav {
		display: none;
	    background: none repeat scroll 0 0 #2AACE2;
	    border-radius: 4px 4px 4px 4px;
	    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset, 0 1px 0 rgba(255, 255, 255, 0.075);
	    display: none;
	    padding: 10px;
	    z-index: 500;	
	    cursor: pointer;
	    border: 1px solid #2AACE2;
		    
	   	.icon-bar {
		    background-color: #FFF;
		    border-radius: 1px 1px 1px 1px;
		    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
		    display: block;
		    height: 2px;
		    margin: 3px 0;
		    width: 18px;			
		}

		@include media(6) {
			display: inline-block;
		    position: absolute;
		    right: 2em;
		    top: 3.5em;				
		}
	}	    

	.main-navigation { 
		padding: 0;
		margin-top: 4.5em;
		float: right;

		@include media(8) {
			float: none;
			margin-top: 0;
		}

		@include media(6) {
			display: none;
		}		
		
		ul {
			margin: 0;
			padding: 0;
			
			> li {
			 	float: left;
				padding: 0;
			 	position: relative;

			 	@include media(6) {
			 		float:none;
  					border-bottom: 1px dashed #252525;	
  					
  					&:first-child {
  						  border-top: 1px dashed #252525;
  					}		 		
			 	}

			 	&:hover {

			 		.sub-menu {
			 			display: block;
				 		@include opacity(1);
			 		}

			 	}

			 	> a {
			 		display: block;
					padding: 1em 1.2em 0.8em 1.2em;
					@include GothamBold;
			 		font-size: 1.3em;
			 		line-height: 1.4em;
				 	color: #999;

				 	@include media(10) {
				 		font-size: 1.2em;
				 	}

				 	@include media(9) {
			 		   	font-size: 1.1em;
    					padding: 1em 0.9em 0.8em;
				 	}

				 	@include media(8) {
			 		    font-size: 1.3em;
    					padding: 1em 0.9em 0.8em;
				 	}

				 	@include media(7) {
			 		    font-size: 1.1em;
				 	}	

				 	@include media(6) {
					padding: 1em 1.2em 0.8em 1.2em;
			 		font-size: 1.5em;
				 	}				 				 	
			 	}

			 	> a:hover,
			 	&.current-menu-item > a,
			 	&.current-category-ancestor > a,
			 	&.current-page-item > a,
			 	&.current-page-ancestor > a,
			 	&.current-post-ancestor > a,
			 	&.current-menu-parent > a,
			 	&.current-post-parent > a,
			 	&.current > a {
			 		color: #fff;

			 		@include media(6) {
			 			color: #2AACE2;
			 		}
			 	}
			}
		} 
	}
}
		
			
#main {}
		
#sidebar {}

#footer {

	h5 {
		margin: 0.5em 0 1em;
	}

	.site-info {
		border-top: 1px solid #9a9a9a;
		background: #f6f6f6;
		padding: 3em 0;

		p {
			font-size: 1.3em;
		}
	}

	.copyright {
		background: #1a1818;
		padding: 2em 0;
		color: #acacac;
		font-size: 1.2em;
		line-height: 1.5em;
		position: relative;

		@include media(5) {
			padding: 2em 0 5em;
		}		

		.container {
		    -moz-box-sizing: border-box;
    		padding-right: 230px;

    		@include media(5) {
    			padding: 0 2em;
    		}

			a {
				color: #FFF;
			}	
		}	

		.addthis_toolbox {
			position: absolute !important;

			a {
				color: #5f656e;	
			}	
		}  			
	}

	.socials {

		a {
			width: 3.2em;
			height: 3.2em;
			float:left;
			margin-right: 0.4em;
			margin-bottom: 0.4em;
			background: url(../images/buttons/socials.png) left top no-repeat;
			opacity: 0.8;

			&:hover {
				opacity: 1;
			};

			&.facebook {
				background-position: left top;
			}

			&.twitter {
				background-position: -36px top;
			}

			&.linkedin {
				background-position: -72px top;
			}

			&.googleplus {
				background-position: -108px top;
			}									
		}
	}
}

/* =============================================================================
   Pages
   ========================================================================== */

#template-examples {

	h1 {
		font-size: 4em;

		@include media(7) {
			font-size: 3em;
		}
	}

	.navigation {
		padding: 6.5em 0;
		background: #1891cf;
		background: -moz-linear-gradient(45deg,  #1891cf 0%, #24a9e0 100%); 
		background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#1891cf), color-stop(100%,#24a9e0));
		background: -webkit-linear-gradient(45deg,  #1891cf 0%,#24a9e0 100%);
		background: -o-linear-gradient(45deg,  #1891cf 0%,#24a9e0 100%); 
		background: -ms-linear-gradient(45deg,  #1891cf 0%,#24a9e0 100%); 
		background: linear-gradient(45deg,  #1891cf 0%,#24a9e0 100%); 
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1891cf', endColorstr='#24a9e0',GradientType=1 ); 

		.scroll-to-btn {
			@include inline-block;
			font-size: 1.4em;
			@include GothamBook;
			color: #FFF;
			padding: 5px 25px 5px 13px;
			@include border-radius(2em);
			background: #09639c url(../images/buttons/down_arrow.png) 93% center no-repeat;
			line-height: 1em;
			margin-top: 0.5em;

		}
	}

	.image {
		text-align: center;
	}	

	.row-title {
		font-size: 3.5em;
		color: #0977bc;
		margin-bottom: 0;

		@include media(4) {
			font-size: 2.5em;
		}		
	}

	.content {
		font-weight: bold;	

		@include media(4) {
			font-size: 85%;
		}		
	}

	.evenrow {

		.image {
			float: right;
		}
	}
}

#front-page {}

#index {}

#single {}

#page, #main {
	.page-content {
		.row {
			background-repeat: no-repeat;
			background-position: center top;
			@include background-size(cover);
		}
	}
}

.error-404 {
	background: #fff; 
	border: 1px solid #d1d1d1; 
	padding: 50px 0;

	h1 {
		margin: 30px 0;
	}
}
